html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#demo,
.full {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

a,
.markdown-body a {
  color: #37b24d;
  text-decoration: none;
  padding: 0 8px;
}

a:hover,
.markdown-body a:hover {
  color: #2b8a3e;
  text-decoration: none;
}

.header-headline {
 font-size: calc((1.5em + 1vh + 1vw) / 3);
}

@media (min-width: 600px) {
  .header-headline {
    font-size: calc((3em + 1vh + 1vw) / 3);
  }
}

.api-docs {
  overflow: auto;
}

.demo-page-inner,
.home-page-inner {
  max-width: 768px;
  margin: 0 auto;
}

.home-page-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.home-page-inner li a {
  font-size: 125%;
}

.demo-page-inner h3 > a {
  font-size: 80%;
  font-weight: normal;
}

.demo-container {
  position: relative;
  border-radius: 4px;
  border: 1px solid #ced4da;

}

.demo-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.demo-container.tall:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.demo-container > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
